@model Jewelly.Models.Cart
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container mgin--top">
    <div class="row">
        <div class="col-md-12">
            <a class="slide-home" href="@Url.Action("Index","Home")">Home </a><span>/</span><b class="slide-local"> Shopping Cart</b>
        </div>
    </div>
    @if (Session["username"] != null)
    {
        if (Model != null)
        {
            <div class="row mt-4">
                <div class="col-md-12">
                    <p class="title--cart">Shopping Cart </p><span>(@Html.Action("BagCartTotal", "Product") product)</span>
                </div>
            </div>
            <form action="/Product/CheckOut" method="post">
                <div class="row">
                    <div class="col-md-9">
                        <table class="table">
                            <tr>
                                <td>Product Name</td>
                                <td class="text--align--rr">Price</td>
                                <td class="text--align--cc">Qly</td>
                                <td class="text--align--rr">Total</td>
                            </tr>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td><img class="img--cart" src="@item.ItemMst.Img.path_img/@item.ItemMst.Img.pic_1" /><span class="product--cart">@item.ItemMst.ProdMst.Prod_Type</span><a href="/Product/Delete/@item.ItemMst.Style_Code" class="icon--remove"><i class="fas fa-times"></i> Delete</a></td>
                                    <td><p class="price--cart mt-5">@item.ItemMst.MRP$</p></td>
                                    <td><p class="qly--cart mt-5">@item.quantity</p></td>
                                    <td><p class="price--cart mt-5">@item.ItemMst.MRP$</p></td>
                                </tr>
                            }
                        </table>

                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="titletemp--order"><b>Provisional:</b></p>
                            </div>
                            <div class="col-md-6">
                                <p class="money--order">@Model.Total_money()$</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="titletemp--order"><b>Total:</b></p>
                            </div>
                            <div class="col-md-6">
                                <p class="money--order">@Model.Total_money()$</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn--dark--model btn--pay--order">Pay Now</button>
                            </div>
                            <div class="col-md-12 mt-2">
                                <a href="@Url.Action("Jewelry","Product")" class="btn--continue--order">Continue shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        }
        else
        {
            <div class="row mt-4">
                <div class="col-md-12">
                    <p class="title--cart">Shopping Cart </p><span>(@Html.Action("BagCartTotal", "Product") product)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="~/Content/Image/Details/empty.jpg" />
                </div>
            </div>
        }
    }
    else
    {
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-12">
                    <p class="title--cart">Shopping Cart </p><span>(0 product)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="~/Content/Image/Details/empty.jpg" />
                </div>
            </div>
        </div>
    }
</div>

