<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Content/Css/Admin.css")" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Content/Css/Responsive.css")" type="text/css" />
    <link rel="icon" type="image/x-icon" href="~/Content/Image/Layout/favicon.png">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="containers">
        <!-- Sidebar Section -->
        <aside class="asider">
            <div class="toggle">
                <div class="logo">
                    <img src="~/Content/Image/Layout/logo-header.png">
                    <h2>Yash <span class="danger">Jwelley</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="side_bar" id="sider_bar">

                <div class="menu">
                    <div class="item">
                        <a href="#" class="sub-btn">
                            <i class="fa-solid fa-shop"></i>
                            Dashboard
                        </a>
                    </div>
                    @* Hệ Items *@
                    <div class="item">
                        <a class="sub-btn" href="#">
                            <i class="fa-solid fa-ring"></i>Item<i class="fas fa-angle-right dropdown"></i>
                        </a>
                        <div class="sub-menu">
                            <a href="#" class="sub-item"><i class="fa-solid fa-ring"></i>Items</a>
                            <a href="#" class="sub-item"><i class="fa-solid fa-toolbox"></i>Product</a>
                            <a href="#" class="sub-item"><i class="fa-solid fa-copyright"></i>1Brand</a>
                            <a href="#" class="sub-item"><i class="fa-solid fa-images"></i>Image</a>
                            <a href="#" class="sub-item"><i class="fa-solid fa-ring"></i>Jewelry</a>

                        </div>
                    </div>
                    @* Hệ Diamond *@
                    <div class="item">
                        <a class="sub-btn" href="#">
                            <i class="fa-solid fa-gem"></i>Diamond<i class="fas fa-angle-right dropdown"></i>
                        </a>
                        <div class="sub-menu">
                            <a href="#" class="sub-item"><i class="fa-solid fa-droplet"></i>Information</a>
                            <a href="#" class="sub-item"><i class="fas fa-table"></i>Quanlity</a>
                            <a href="#" class="sub-item"><i class="fa-solid fa-rainbow"></i>Subtype</a>
                            <a href="#" class="sub-item"><i class="fa-solid fa-images"></i>Image</a>
                            <a href="#" class="sub-item"><i class="fa-solid fa-gem"></i>Diamond</a>
                            <a href="#" class="sub-item"><i class="fa-solid fa-certificate"></i>Certify</a>
                        </div>
                    </div>
                    @* Hệ đá *@
                    <div class="item">
                        <a class="sub-btn" href="#">
                            <i class="fa-solid fa-diamond"></i>Stone<i class="fas fa-angle-right dropdown"></i>
                        </a>
                        <div class="sub-menu">
                            <a href="#" class="sub-item"><i class="fa-solid fa-droplet"></i>Stone Quanlity</i></a>
                            <a href="#" class="sub-item"><i class="fa-solid fa-diamond"></i>Stone</a>
                        </div>
                    </div>
                    @* Hệ Gold  *@
                <div class="item">
                    <a href="#" class="sub-btn"><i class="fa-solid fa-coins"></i>Gold</a>
                    <div class="sub-menu">
                        <a href="#" class="sub-item"><i class="fa-solid fa-heart-circle-minus"></i>Category</a>
                    </div>

                </div>
                    @* hệ User *@
                    <div class="item">
                        <a class="sub-btn" href="#">
                            <i class="fa-solid fa-users-gear"></i>User<i class="fas fa-angle-right dropdown"></i>
                        </a>
                        <div class="sub-menu">
                            <a href="#" class="sub-item"><i class="fa-solid fa-user-group"></i>User</a>
                            <a href="#" class="sub-item"><i class="fa-solid fa-gavel"></i>Inquiry</a>
                            <a href="#" class="sub-item"><i class="fa-solid fa-cart-arrow-down"></i>User Cart</a>
                            
                        </div>
                    </div>
                    @* Hệ Order *@
                    <div class="item">
                        <a class="sub-btn" href="#">
                            <i class="fa-solid fa-truck"></i>Order<i class="fas fa-angle-right dropdown"></i>
                        </a>
                        <div class="sub-menu">
                            <a href="#" class="sub-item"><i class="fa-regular fa-credit-card"></i>Payment</a>
                            <a href="#" class="sub-item"><i class="fa-solid fa-truck"></i>Order</a>
                            <a href="#" class="sub-item"><i class="fa-solid fa-file-circle-check"></i>Orderdetails</a>
                        </div>
                    </div>
                    @* Hệ news *@
                    <div class="item">
                        <a href="#" class="sub-btn"><i class="fas fa-table"></i>News</a>
                    </div>
                </div>
                


            </div>
        </aside>
        
        <!-- End of Sidebar Section -->
        <div>
            @RenderBody()
        </div>
        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="mode">
                    <div class="moon-sun">
                        <i class="fas fa-moon icon moon"></i>
                        <i class="fas fa-sun icon sun"></i>
                    </div>
                    <span class="mode-text text">Dark Mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>@Session["Name_employee"]</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="@Session["Path_avt"]@Session["Avatar"]">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->
            <div class="user-profile">
                <div class="logo">
                    <img src="@Session["Path_avt"]@Session["Avatar"]">
                    <h2>@Session["Name_employee"]</h2>
                </div>
            </div>
            <div class="reminders">
                <div class="header">
                    <h2>Reminders</h2>
                    <span class="material-icons-sharp">
                        notifications_none
                    </span>
                </div>

                <div class="notification">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            volume_up
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text_muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification deactive">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            edit
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text_muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification add-reminder">
                    <div>
                        <span class="material-icons-sharp">
                            add
                        </span>
                        <h3>Add Reminder</h3>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <script src="~/Areas/Admin/Content/Script/Order.js"></script>
    <script src="~/Areas/Admin/Content/Script/Index.js"></script>
    <script>
        var item = document.getElementsByClassName('item');
        var bg = document.getElementsByClassName('sub-btn');

        
        
        $(document).ready(function () {
            //var url = window.location.pathname
            //urlRegExp = new RegExp(url.replace(/\/$/, ''));
            //$(item).each(function () {
            //    if (urlRegExp.test(this.href)) {
            //        $(this).addClass('_active');
            //    } else {
            //        $(this).removeClass('_active');
            //    }
            //});
            $(item).click(function () {
                $(item).removeClass('_active');
                $(this).addClass('_active');
            });
            $('.sub-btn').click(function () {
                $(this).next('.sub-menu').slideToggle();
                $(this).find('.dropdown').toggleClass('rotate');
              
            });
           
        });
      

    </script>
</body>
</html>